/* footer */
.p-footer {
  /* position: fixed; */
  bottom: 0px;
  width: 100%;
  background-color: #fff;
}

.p-footer__inner {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
  border-top: 1px solid #ebebeb;
}

.p-footer__site-group-list {
  display: flex;
  padding-bottom: 50px;
  padding-top: 30px;
  justify-content: center;
}

.p-footer__site-group {
  width: 308px;
  margin: 0;
  padding: 0;
  color: #6b7684;
  list-style: none;
  font-size: 15px;
  line-height: 30px;
  box-sizing: border-box;
  margin-left: 6rem;
}

.p-footer--dark .p-footer__site-group-title {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #000000;
}

.p-footer__site-group-title {
  padding-bottom: 5px;
  font-weight: 700;
}

.p-footer__site-group-item {
  line-height: 1.5;
}

.p-footer__site-group-item > a {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 13px;
  display: block;
  text-decoration: none;
  color: #787878;
}

.p-footer__site-group-item > b {
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  font-size: 13px;
}
