.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  /* display: none; */
  z-index: 50;
  background: rgba(0, 0, 0, 0.5);
}

.modal__header {
  color: white;
  position: absolute;
  top: 18px;
  right: 25px;
  font-size: 30px;
}

.modal__body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
