@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import "../components/modal.css";
@import "../components/reservationConfirmModal.css";
@import "../components/profileModal.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css");
@import url("https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css");
/*전체 선택자로 리셋*/
* {
  margin:0;   /* 마진 리셋 */
  padding:0;   /* 패딩 리셋 */
}

/*본문 중앙배치*/
.container__inner {
    margin:0 auto;  /* 화면 중앙에 배치 */
    width: 800px;    /* 너비 */    
    background-color: #fff;
  }

  /*카테고리 제목 스타일 적용*/
.detailpage-info__categorytitle{
    font-family:"Noto Sans KR";
    font-size:38px;
    font-weight:700; /*폰트 폭 적용*/
    text-align:center; /*텍스트 가운데 정렬해줌*/
    margin: 0 auto;
    line-height: 2.5;
}

/*상품등록 이미지 스타일 적용*/
.detailpage-info__serviceimge{
    display: block;
    width: 800px; 
    height:500px;
    border-radius: 20px;
    margin: 0 auto;
}

/*상품정보 표시*/
.detailpage-info__list{
    list-style: none;
}

/*등록자 프로필*/
.detailpage-info__registrantimge{
    width:50px;
	height:50px;
	border-radius: 20px;
    margin-top:40px;
    margin-left: 10px;

}

/*프로필 닉네임,등급 위치*/
.detailpage-info__mynickname{
    display: flex;
    font-family:"Noto Sans KR";
    font-size:22px;
    font-weight:400; /*폰트 폭 적용*/
    margin-top: -55px;
    margin-left: 70px;

}

/*사용자 프로필 마우스 포인터 손모양으로 바꿈 */
.detailpage-publisher-info{
    cursor: pointer /*마우스 포인터 손모양으로 바꿈*/
}


/*등급 이미지*/
.detailpage-info__rankinfo{
    width:60px;
	height:20px;
    margin-left: 70px;
    margin-top: 10px;
}

/*제품등록 정보 제목 적용*/

.detailpage-info__title{
    font-family:"Noto Sans KR";
    font-size:32px;
    font-weight:700; /*폰트 폭 적용*/
    margin-top: 20px;
}

/*제품등록 정보 주소 적용*/
.detailpage-info__addr{
	font-family:"Noto Sans KR";
  	font-size:22px;
  	font-weight:400; /*폰트 폭 적용*/
  	color:#dee2e6;
    margin-top: 20px;

}

/*날짜 캘린더이미지 스타일*/
.detailpage-info__dateimge{
	width:30px;
	height:30px;
    margin-top: 20px;
}


/*제품등록 정보 날짜 적용*/
.detailpage-info_dateinfo{
	position: absolute;
    font-family:"Noto Sans KR";
  	font-size:22px;
  	font-weight:400; /*폰트 폭 적용*/
    margin-top: 25px;
    margin-left: 10px;
}

/*예약중 이미지*/
.detailpage-info__reservationimge{
	width: 90px;
	height:30px;
    margin-top: 20px;
}

/* 예약중 옆에 가격 정보*/
.detailpage-info__priceinfo{
   position: absolute;
   height: 50px;
   padding-top: 5px;

}


/*제품등록 정보 가격 적용*/
.detailpage-info__priceinfo{
	position: absolute;
    font-family:"Noto Sans KR";
  	font-size:32px;
  	font-weight:700; /*폰트 폭 적용*/
    margin-top: 10px;
    margin-left: 10px;
}

/*상품정보 태그 스타일 적용*/
.detailpage-info__servicename{
    font-family:"Noto Sans KR";
  	font-size:26px;
  	font-weight:500; /*폰트 폭 적용*/
    margin-top: 50px;  
}

/*상품정보 박스 설정*/
.detailpage-info__contents{
	width:700px;
	height:500px;
	border: 1px solid white;
}

/*상품정보 폰트 적용*/
.detailpage-info__contents{
    font-family:"Noto Sans KR";
  	font-size:18px;
  	font-weight:400px; /*폰트 폭 적용*/
    line-height: 30px;  
}

/*예약버튼 스타일 적용*/
.detailpage-info__reservationbtn{
	display: block;
    width:180px;
	height:50px;
	background-color: #dee2e6;
	color:#4751FD;
	border-radius: 10px;
	border-color:#4751FD;
    margin:0 auto;
    text-align: center;
    cursor: pointer /*마우스 포인터 손모양으로 바꿈*/
}

/*상품문의 태그*/
.detailpage-info__inquirys{
    position: absolute;
    font-family:"Noto Sans KR";
  	font-size:26px;
  	font-weight:500; /*폰트 폭 적용*/
    margin-top: 30px;


}

/*상품문의 내용*/
.detailpage-info__comment{
	resize:none; /*창 늘리고 줄이는거 없앰*/
    width:780px; 
	height:100px;
	border-radius: 10px;
	border-color: #4751FD;
	border-width: 2px 2px 2px 2px;
	padding-top: 10px;
	padding-left: 10px;
    margin-top: 80px;
}

/*상품 문의 클릭했을시 보더변환*/
textarea:focus{
    outline:1px solid #4751FD;
    background-color:rgba(71,81,253,0.1);
  }  

/*상품문의 스코롤바*/
textarea::-webkit-scrollbar {
    width: 10px;
  }
  textarea::-webkit-scrollbar-thumb {
    background-color: #4751FD;
    border-radius: 10px;
  }
  textarea::-webkit-scrollbar-track {
    background-color: rgba(71,81,253,0.1);
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;
  }



/*상품문의 등록 버튼*/
.detailpage-info__inquirybtns{
	display: block;
    width:50px;
	height:30px;
	background-color: #dee2e6;
	color:#4751FD;
	border-radius: 10px;
	border-color:#4751FD;
	margin-top: 10px;
    margin-left: 91%;
    cursor: pointer /*마우스 포인터 손모양으로 바꿈*/

	
}

.detailpage-info__commentline{
    border: solid 0.75px #ADADAD;
    width: 70%;
    margin-left: 70px;
    
}


/*사용자*/
.detailpage-info__user{
    list-style: none;
}

/*댓글 사용자 프로필 이미지 */
.detailpage-info__userimg{
    
    width:50px;
	height:50px;
	border-radius: 20px;
    margin-top: 10px;
    margin-bottom: 50px;
}


/*유져 이름위치*/
.detailpage-info__usernickname{
    font-family:"Noto Sans KR";
  	font-size:20px;
  	font-weight:500; /*폰트 폭 적용*/
    margin-top: -100px;
    margin-left: 70px;
}

/*유저 댓글 내용 위치*/
.detailpage-info__usercomment{
    font-family:"Noto Sans KR";
  	font-size:18px;
  	font-weight:400; /*폰트 폭 적용*/
    color:#adb5bd;
    margin-left: 70px;
    margin-top: 10px;
}

/*선 긋기*/
.detailpage-info__line{
    margin-top: 30px;
    margin-bottom: 30px;
}

/*slcik*/
/*한꺼번에 묶어서 이전/다음버튼 설정해준다*/
        /*이렇게 해줘야 글자를 투명해졌던게 화살표만 나타내줄수 있다*/
        .slick-prev:before{
            font-family: 'xeicon';
            color:#fff;
            font-size: 45px;
            content: "\e93d"; /*왼쪽 아이콘 원래 content값을 브라우저에서 확인후 넣어준다.*/
            font-family: 'xeicon'; /*넣어줘야 적용된다*/
        }
  
        .slick-next:before{
            font-family: 'xeicon';
            color:#fff;
            font-size: 45px;
            content: "\e940"; /*오른쪽 아이콘 원래 content값을 브라우저에서 확인후 넣어준다.*/
            font-family: 'xeicon'; /*넣어줘야 적용된다*/
        }
        /*이전/다음버튼 클래스명은 자동으로 생성된다 브라우저창 F12눌러서 보면된다*/
        /*visual클래스에 있는 button안 slick-prev클래스명*/
        .slick-prev{
            left:-150px;
            font-size: 0; /*Previous글자 사이즈 0으로만듬*/
            color:transparent; /*Previous글자를 투명으로 넣어준다*/
            /*폰트와 컬러를 위처럼 지정해주면 글자가 안보인다.*/
            position: absolute;
            z-index: 10;
            top:50%;
            transform: translateY(-50%); /*버튼들이 Y축으로 가운데로 온다.*/
            /*이전/다음 버튼 모양 조정*/
            width: 71px;
            height: 71px;
            border-radius: 100%;
            background: rgba(0,0,0,.5);
            border: none;
            /*이전/다음버튼 화살표를 넣기위해 아이콘폰트쓸것이다 xeicon쓸거다*/
        }
  
  
        .slick-next{
            right:-100px;
            font-size: 0; /*Next글자 사이즈 0으로만듬*/
            color:transparent; /*Next글자를 투명으로 넣어준다*/
            /*폰트와 컬러를 위처럼 지정해주면 글자가 안보인다.*/
            position: absolute;
            z-index: 10;
            top:50%;
            transform: translateY(-50%); /*버튼들이 Y축으로 가운데로 온다.*/
            /*이전/다음 버튼 모양 조정*/
            width: 71px;
            height: 71px;
            border-radius: 100%;
            background: rgba(0,0,0,.5);
            border: none;
            /*이전/다음버튼 화살표를 넣기위해 아이콘폰트쓸것이다 xeicon쓸거다*/
            
        }
  
        .slick-dots{
            position: absolute;
            left: 0;
            right: 0;
            top: 100%;
            margin-left:-46px ;
            display: flex;
            justify-content: center;
        }
  
        .slick-dots li{
            list-style: none;
            margin: 0 15px;
        }
  
       .slick-dots li button{
            position: absolute;
            background: #adb5bd;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            border: none;
            margin-top: -40px;
            overflow: hidden;
            font-size: 0; /*Next글자 사이즈 0으로만듬*/
            color:transparent; /*Next글자를 투명으로 넣어준다*/
           
       }
  
       .slick-dots .slick-active button{
           background: #4751FD;
           border: none;
           font-size: 0; /*글자 사이즈 0으로만듬*/
           color:transparent; /*글자를 투명으로 넣어준다*/
       }
  
        /*이미지 슬라이드 밑에 점없어지는거*/
       .slick-dots li:first-child:nth-last-child(1){
        display:none
    }