/* styles */
@import "../components/header.css";
@import "../components/footer.css";

/*í¼*/
.text-center {
  text-align: center;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 900;
  font-size: 34px;
  margin-bottom: 30px;
}

.form-signup {
  width: 22rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.btn-sign-up-margin {
  margin-bottom: 35px;
}

.form-input-box {
  display: flex;
  margin-top: 6px;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #000;
  background-color: #fff;
  background-image: none;
  border: 1.5px solid #000;
  border-radius: 6px;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 500;
}

.form-control::-ms-input-placeholder {
  color: #787878;
}
.form-control::-webkit-input-placeholder {
  color: #787878;
}
.form-control::-moz-placeholder {
  color: #787878;
}

.form-control:focus {
 border: 2px solid #4751fd;
  outline: 0;
  background-color: rgba(71, 80, 253, 0.178);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%), 0 0 8px rgba(71, 80, 253, 0.551);
}

.form-margin-top {
  margin-top: 6px;
}

.btn-info {
  background-color: #4751fd;
  color: #fff;
  font: 500 14px "Noto Sans KR", sans-serif;
  border-radius: 6px;
  width: 26%;
  margin-left: 10px;
  cursor: pointer;
  height: 34px;
}

.btn-info:hover {
  background-color: #3c44da;
}

.form-label-group > label {
  top: 0;
  left: 0;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 700;
  font-size: 17px;
  color: #000000;
}

.btn-default {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #4751fd;
  font-weight: 500;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 45px;
  line-height: 1.42857143;
  border-radius: 8px;
  font-family: "Noto Sans KR", sans-serif;
  cursor: pointer;
}

.btn-default:hover {
  background-color: #3c44da;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
  margin-bottom: 80px;
}
